html
  head
    title
        |AIA File Manipulator
    link(rel='stylesheet', href='/public/ai_styles.css', type='text/css')
    script(src='/public/ai_manipulator_client.js')

  body.fullPage(onload='displayAnyMessage(' + JSON.stringify(message) + ')')
    div.overlay(id='overlay', style='display:none')
        div.overlayContent
            table
                tr
                    td
                        img.overlayIcon(id='overlayIcon', src="/public/waiting.gif", alt="Waiting...")
                    td(id='overlayMessage')
                        |content here
                tr.overlayButtonSection(id='overlayButtonSection', style='display:none;')
                    td(colspan='2')
                        button(onclick='closeMessage()') Ok
    div.topbanner
      form(method='GET', action='/logout')
        |&nbsp;
        span.appname
            |AIA Manipulator
        span.user
            |&nbsp;Welcome: #{user.username}
            |&nbsp;
    p &nbsp;

    div(style='display: flex; flex-flow: row nowrap; width:100%')
        div(style='width: 50%; margin-right:15px;')
            div
                | Source File
                br
                form.aiaContentForm(method='POST' action='/aia/loadFromGoogle' style='white-space: nowrap;')
                    input(type='hidden', name='filePos', value='0')
                    select(name='fileInfo', onChange='primaryFileChange("' + (primaryAia?primaryAia.name:null) +'")')
                        option(value='') #{'<<Select File>>'}
                        each googleFile in googleFiles
                            option(value=googleFile.id+'|'+googleFile.name, 
                                    selected=(primaryAia && googleFile.name == primaryAia.name)) 
                                |#{googleFile.name}
                    |&nbsp;
                    button(type='submit', name='action', value='loadFile', onclick='showWaiting("Loading AIA file")') Load
            div(style='border:1px solid black; padding: 5px; margin-top:30px;')
                if (primaryAia)
                    - var aiaFile = primaryAia
                    b #{aiaFile.name}
                    br
                    br
                    |Screens
                    each screen, i in aiaFile.screens
                        div(style='padding-bottom:6px; padding-left: 15px; flex; flex-flow: row nowrap;')
                            form.aiaContentForm(method='POST' action='/aia/modify', onsubmit='return validScreenName(this)'
                                    stylex='display: inline-block;')
                                input(type='hidden', name='fileName', value=aiaFile.name)
                                input(type='hidden', name='version', value=aiaFile.version)
                                input(type='hidden', name='originalName', value=screen.screenName)
                                input(type='hidden' name='screenName' value=screen.screenName)
                                input(type='text', name='newName', size='20', value=screen.screenName)
                                |&nbsp;
                                button(type='submit', name='action', value='renameScreen' onclick='showWaiting("Renaming screen...")') Rename
                                if secondaryAia
                                    |&nbsp;&nbsp;&nbsp;
                                    - var nameVersion = secondaryAia.name + '_' + secondaryAia.version
                                    input(type='hidden' name='targetNameAndVersion' value=nameVersion)
                                    button(type='submit', name='action', value='copyScreen' 
                                        title='Copy to secondary file'
                                        onclick='showWaiting("Copying screen...")') Copy >>
                    if aiaFile.screens.length == 0
                        div(style='padding-bottom:6px; padding-left: 15px;')
                            | No screens
                    | Resources                    
                    div(style='padding-bottom:6px; padding-left: 15px;')
                        each resource in aiaFile.resources
                            form.aiaContentForm(method='POST' action='/aia/modify', onsubmit='return validScreenName(this) && showWaiting("Renaming screen")'
                                    stylex='display: inline-block;')
                                |#{resource.name}
                                if secondaryAia
                                    input(type='hidden', name='fileName', value=aiaFile.name)
                                    input(type='hidden', name='version', value=aiaFile.version)
                                    input(type='hidden' name='screenName' value=resource.path)
                                    |&nbsp;&nbsp;&nbsp;&nbsp;
                                    - var nameVersion = secondaryAia.name + '_' + secondaryAia.version
                                    input(type='hidden' name='targetNameAndVersion' value=nameVersion)
                                    button(type='submit', name='action', value='copyScreen' 
                                        title='Copy to secondary fileX'
                                        onclick='showWaiting("Copying resource...")') Copy >>

                        if aiaFile.resources.length == 0
                            | No resources
                    div(style='margin-top: 10px; display: flex; flex-flow: row wrap; justify-content: center;')
                        form.aiaContentForm(method='POST' action='/aia/saveToGoogle')
                            input(type='hidden', name='fileName', value=aiaFile.name)
                            button(type='submit', onclick='showWaiting("Saving changes")') Save
                        |&nbsp;&nbsp;
                        form.aiaContentForm(method='POST' action='/aia/modify', style='display: inline-block;')
                            input(type='hidden', name='fileName', value=aiaFile.name)
                            input(type='hidden', name='filePos', value='0')
                            button(type='submit', name='action', value='unload', onclick='showWaiting("Unloading AIA file")') Unload
                else
                    p - no file selected yet
                    

        div(style='width: 40%;')
            div
                | Target File
                br
                form.aiaContentForm(method='POST' action='/aia/loadFromGoogle' style='white-space: nowrap;')
                    input(type='hidden', name='filePos', value='1')
                    select(name='fileInfo')
                        option(value='') #{'<<Select File>>'}
                        each googleFile in googleFiles
                            option(value=googleFile.id+'|'+googleFile.name  
                                    selected=(secondaryAia && googleFile.name == secondaryAia.name)) 
                                |#{googleFile.name}
                    |&nbsp;
                    button(type='submit', name='action', value='loadFile', onclick='showWaiting("Loading AIA file")') Load
            div(style='border:1px solid black; padding: 5px; margin-top:30px;')
                if (secondaryAia)
                    - var aiaFile = secondaryAia
                    b #{aiaFile.name}
                    br
                    br
                    |Screens
                    each screen, i in aiaFile.screens
                        div(style='padding-bottom:6px; padding-left: 15px;')
                            form.aiaContentForm(method='POST' action='/aia/modify', onsubmit='return validScreenName(this) && showWaiting("Renaming screen")')
                                input(type='hidden', name='fileName', value=aiaFile.name)
                                input(type='hidden', name='version', value=aiaFile.version)
                                input(type='hidden', name='originalName', value=screen.screenName)
                                input(type='text', name='newName', size='20', value=screen.screenName)
                                |&nbsp;
                                button(type='submit', name='action', value='renameScreen') Rename
                    if aiaFile.screens.length == 0
                        div(style='padding-bottom:6px; padding-left: 15px;')
                            | No screens
                    | Resources                    
                    div(style='padding-bottom:6px; padding-left: 15px;')
                        each resource in aiaFile.resources
                            |#{resource.name}
                            br
                        if aiaFile.resources.length == 0
                            | No resources

                    div(style='display: flex; flex-flow: row wrap; justify-content: center;')
                        form.aiaContentForm(method='POST' action='/aia/saveToGoogle')
                            input(type='hidden', name='fileName', value=aiaFile.name)
                            button(type='submit', onclick='showWaiting("Saving changes")') Save
                        |&nbsp;&nbsp;
                        form.aiaContentForm(method='POST' action='/aia/modify', style='display: inline-block;')
                            input(type='hidden', name='fileName', value=aiaFile.name)
                            input(type='hidden', name='filePos', value='1')
                            button(type='submit', name='action', value='unload', onclick='showWaiting("Unloading AIA file")') Unload
                else
                    p - no file selected yet


